-##tuple
- represented by '()'

-## set
 -unordered ,unindexed,mutable
 -unique element only
 -can store only imutable element
 -reresented by {}
 -set()convert any   sequence to set

In [1]:
x = (1,2,3)
print(x)
print(type(x))

(1, 2, 3)
<class 'tuple'>

In [2]:
a = 1,2,3
print(a)
print(type(a))

(1, 2, 3)
<class 'tuple'>

In [3]:
#single element tuple 
b = (13,)
print(b)
print(type(b))

(13,)
<class 'tuple'>

In [4]:
#tuple unpacking
a

(1, 2, 3)

In [6]:
x1,x2,x3 = a
print(x1, x2, x3)

1 2 3

In [8]:
a = (1,2,3,4,5,6,7)
a1,b1,*a3=a #a3 will get the remainimg elements as a list
print(a1,b1,a3)

1 2 [3, 4, 5, 6, 7]

In [9]:
a[:4]#sclicing

(1, 2, 3, 4)

In [10]:
for i in a:
    print(i)

1
2
3
4
5
6
7

In [14]:
x =(1,2,3,1,2,3,1,2,3)
print(x.count(1))
print(x.index(3))# 3 is the value to search
print(x.index(3,5))# 3 is the value to search and 5 is the starting index

3
2
5

In [17]:
a =[1,2,3]
at =tuple(a)#list to tuple
al =list(at)#tuple to list
print(at)
print(al)

(1, 2, 3)
[1, 2, 3]

In [18]:
#set
s ={1,2,3,1,2,3,1,2,3}
print(s)
print(type(s))

{1, 2, 3}
<class 'set'>

In [20]:
s1 = set()#empty set
print(s1)
print(type(s1))

set()
<class 'set'>

In [21]:
s1.add(3)
s1.add(4)
s1.add('hello')
s1.add('all')
s1.add(5)
print(s1)

{'all', 3, 4, 5, 'hello'}

In [22]:
s1.discard(3)#remove 3 from set s1 (remove()can also be used)
print(s1)

{'all', 4, 5, 'hello'}

In [23]:
for i in s1:
    print(i)

all
4
5
hello

In [24]:
#set operations
group1 = {'apple','banana','orange','pineapple','mango','watermellon'}
group2 ={'apple','grapes','mango','pineapple','watermellon','kiwi'}

In [26]:
#union
print (group1 & group2)
print(group1.intersection(group2))

{'watermellon', 'apple', 'pineapple', 'mango'}
{'watermellon', 'apple', 'pineapple', 'mango'}

In [27]:
#difference
print(group1 - group2)
print(group2 - group1)
print(group2.difference(group2))

{'orange', 'banana'}
{'kiwi', 'grapes'}
set()

In [28]:
#symmetric difference
print(group1^group2)
print(group1.symmetric_difference(group2))

{'orange', 'banana', 'grapes', 'kiwi'}
{'orange', 'banana', 'grapes', 'kiwi'}

#task
-create a list called reports that will hold report of 7 student.
-each student will have a name and marks in 3 subject
-use for loop to display the report of each student

In [3]:
reports = [
    ['vaibhav',[
            ['maths',30],
             ['science',46],
             ['english',67],]],
    ['aniruddh',[
        ['maths',56],
        ['science',45],
        ['english',78],
    ]]
]

In [4]:
for students in reports:   
 for detail in students:
  if isinstance(detail,str):
   print(detail)
  if isinstance(detail,list):
    for subject in detail:
      print(subject[0], subject[1])

vaibhav
maths 30
science 46
english 67
aniruddh
maths 56
science 45
english 78